.Header {
    li {
        @screen lg {
        @apply pl-10;
        }

        a { 
            @apply relative p-1;
            @screen lg {
                &:before {
                    content: "";
                    background: url(~/assets/img/nav-swirl.svg) repeat-x;
                    background-position: -2px 0;
                    z-index: -1;
                    @apply w-0 h-3 block absolute left-0 transform translate-y-6 transition-all duration-500 ease-in-out;
                }

                &:hover,
                &.active {
                    &:before {
                        @apply w-full h-3;
                    }
                }
            }
        }
    }

    &.HeroActive {
        li a:before {
            background: url(~/assets/img/nav-swirl-white.svg) repeat-x;
            background-position: -2px 0;
        }
        .swirl-banner {
            z-index: -10;
        }
    }
}